#Virtual environment
.venv/

# Environment variables
.env

# Data files
*.json.gz


# Python
convert_to_parquet_*.py
download_nyc_data_*.py
__pycache__/
*.py[cod]
*$py.class

#for Observable notebooks
.DS_Store
/dist/
node_modules/
yarn-error.log
*/.observablehq/cache/
*/archive
